/* ############################################################ */
/* #                       MOBILE STYLES                      # */
/* ############################################################ */

/* Basic Reset */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0dcdc;
}

/* ################################### */
/* #              NAVBAR             # */
/* ################################### */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f4f3f2;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .brand-title {
  margin: 0.5rem;
  margin-left: 1rem;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 2.5em;
  text-decoration: none;
}

.navbar-links {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: rgb(228, 227, 227);
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-links li {
  list-style: none;
  text-align: center;
}

.navbar-links li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.75rem 1rem;
  display: block;
  font-size: 1.35rem;
}

.navbar-links li a:hover {
  color: rgb(114, 114, 114);
}

.navbar-links.active {
  max-height: 260px;
}

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  position: relative;
  transition: transform 0.2s ease;
}

/* Transform to X */
.toggle-button.active .bar:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: center;
}

.toggle-button.active .bar:nth-child(2) {
  opacity: 0;
}

.toggle-button.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: center;
}

/* Instantly revert to bars */
.toggle-button:not(.active) .bar {
  transition: transform 0s ease;
}

@media (min-width: 921px) {
  .toggle-button {
    display: none;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }

  .spacer {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 15rem;
  }

  .navbar-links {
    display: flex;
    max-height: none;
    width: auto;
    background-color: #f4f3f2;
  }

  .navbar-links ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar-links li {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
  }

  .navbar-links li a {
    padding: 1rem;
  }
}

/* ################################### */
/* #              HERO               # */
/* ################################### */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem 0;
  background-color: #e0dcdc;
  width: 100%;
}

.hero-image img {
  max-width: 15rem;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 4rem;
}

.hero-content p {
  font-size: 1.5rem;
}

/* ################################### */
/* #              SECTION 1          # */
/* ################################### */

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  background-color: #f4f3f2;
}

.section1-title {
  margin: 1rem;
  width: 100%;
  font-size: 2rem;
}

.section1 img {
  width: 75px;
  height: auto;
}

.section1 h1 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  width: 95%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.2;
}

.section1-item {
  flex: 1;
  margin: 0 1rem 1rem 1rem;
  max-width: 350px;
  min-width: 150px;
  box-sizing: border-box;
  align-self: stretch;
}

.section1-item img {
  width: 75px;
}

.section1-item h2 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

@media (min-width: 921px) {
  .section1-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }
}

/* ################################### */
/* #              SECTION 2          # */
/* ################################### */

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding-top: 0.5rem;
  background-color: #f4f3f2;
  font-size: 1.5rem;
  padding: 1rem;
  gap: 1rem;
}

.section2 h1 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  width: 75%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.2;
}

.section2-item1,
.section2-item2 {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2-item1-content,
.section2-item2-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section2 p {
  text-align: left;
  padding-left: 1rem;
  margin: 0;
}

@media (min-width: 921px) {
  .section2 {
    flex-direction: row;
    align-items: stretch;
  }
}

/* ################################### */
/* #              SECTION 3          # */
/* ################################### */

.section3 {
  text-align: center;
}

.section3-item1 img {
  width: 90%;
  height: auto;
}

.section3-item1 h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.section3-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #f4f3f2;
}

.section3-item2 h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.section3-item2-list {
  text-align: left;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.section3-item3 img {
  width: 100%;
  height: auto;
}

.section3-item4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #f4f3f2;
}

.section3-item4 h1 {
  font-size: 2rem;
}

.section3-item4 p {
  font-size: 1rem;
}

.section3-item2 img {
  width: 100%;
  margin-top: 1rem;
}

.section3-item4 img {
  width: 90%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.section3-item4 img:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.yellow-button {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #050505;
  background-color: #f9c74f;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  backface-visibility: hidden;
}

.yellow-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.yellow-button:active {
  transform: scale(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 921px) {
  .section3 {
    display: flex;
    flex-direction: column;
  }

  .section3-item1 {
    margin-bottom: 1rem;
  }

  .section3-item1 img {
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  .section3-item1 h1 {
    font-size: 3rem;
  }

  .section3-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .section3-item2,
  .section3-item4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
  }

  .section3-item4 h1 {
    font-size: 2rem;
  }

  .section3-item4 img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
  }

  .yellow-button {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
  }
}
/* ################################### */
/* #              SECTION 4          # */
/* ################################### */

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f4f3f2;
}

.section4-header {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.section4-header h1 {
  margin: 0;
}

.section4-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.section4-item {
  flex: 1 1 calc(50% - 1rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section4-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.section4-item p {
  margin: 0.5rem 0 0;
}

@media (min-width: 921px) {
  .section4-header {
    font-size: 2rem;
  }

  .section4-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }

  .section4-item {
    flex: 1 1 calc(25% - 1rem);
    font-size: 1.5rem;
  }
}

/* ################################### */
/* #              SECTION 5          # */
/* ################################### */

.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f4f3f2;
  position: relative;
}

.section5-item1 {
  text-align: center;
  margin-bottom: 1rem;
}

.section5-item1-content h1 {
  margin: 0;
}

.section5-item2 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.section5-item2-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%;
}

.slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.section5-item2-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 0.5rem;
}

.arrow:disabled {
  color: gray;
  cursor: not-allowed;
  opacity: 0.5;
}

.arrow-left {
  left: 0px;
}

.arrow-right {
  right: 0px;
}

@media (min-width: 921px) {
  .section5 {
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
  }

  .section5-item2 {
    width: 100%;
    max-width: 100%;
  }

  .section5-item2-content {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
  }

  .slide {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Lightbox Modal Styling */
.lightbox-modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 90%;
  margin-top: 40%;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Desktop-specific styles */
@media (min-width: 921px) {
  .lightbox-content {
    margin-top: -2%;
  }
}
/* ################################### */
/* #              SECTION 6          # */
/* ################################### */

.section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #f4f3f2;
}

.section6-item1 {
  width: 100%;
  text-align: center;
}

.contactUs-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem;
}

.section6-item2,
.section6-item3,
.section6-item4,
.section6-item5 {
  max-width: 160px;
  flex: 1 1 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section6-item5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
}

.section6-item5-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section6-item5 img {
  width: 100%;
  max-width: 60px;
}

.section6-map {
  width: 100%;
  margin-bottom: 1rem;
  border: 2px solid #cccccc;
}

.section6-map iframe {
  width: 100%;
  height: 300px;
  border: 0;
  display: block;
}

.section6-item6 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.section6-item6-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section6-item6 img {
  width: 100%;
  max-width: 150px;
}

.section6-item6 p {
  margin-top: 0.5rem;
}

/* ################################### */
/* #               FOOTER            # */
/* ################################### */
.mobile-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-to-top {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #555;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.back-to-top:hover {
  background-color: #777;
}

.footer-logo img {
  max-width: 120px;
  margin-bottom: 1rem;
}

.footer-contact p {
  margin: 0.5rem 0;
}

.footer-contact a {
  color: #fff;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.footer-social {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-social a {
  margin: 0;
  display: inline-block;
}

.footer-social img {
  width: 24px;
  vertical-align: middle;
}

.footer-copy {
  font-size: 0.875rem;
  margin-top: 1rem;
}

.footer-social {
  justify-content: center;
}

.footer-social a {
  margin: 0.5rem;
}
